.container-fluid
{
	
	background-color: #2B2B2B;
	width:100%;

}

.header
{
	border-bottom: 2px solid transparent;
	border-image: linear-gradient(45deg, black,grey, white, grey,black);
	border-image-slice: 1;
	padding-bottom:10px;
}

.logo
{ 

	margin-top:30px;
	margin-left:4px;

}

.cancel
{
	float:right;
	width:40px;
	height:40px;
	margin-top: 30px;
	margin-right:4px;
	transition:1s ease-out;
}

.cancel:hover
{
	transform: rotate(180deg);

}

h3
{
	color:white;
	text-align:center;
	
}




.message
{
	color:white;
}


.r1
{
	padding-top: 20px;
}


.copyright {

	color: white;
	font-family: 'Montserrat Alternates', sans-serif;

	font-size: .9em;
}

.footer
{
	color:black;
	height:100%;
	text-align: center;


}

.today
{
	color:orange;
    transition:1s;
	animation-name:today;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

@keyframes today {

	0% {
		
		opacity: .5;
	}

	25% {
		
		opacity: 1;

	}

	50% {
		
		opacity: .5;
	}

	75% {
		
		opacity: 1;
	}

	100% {
		
		opacity: .5;
	}




}

.btn
{
	width:100px;
	border-radius:20px;
	background: #2B2B2B;
	border-color:#00B2FF;
	
}

.help-block
{
	color:red;
	font-weight:lighter;
}

